/* components/Header.module.css */
.header {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    transition: top 0.3s;
  }
  
  .show {
    top: 0;
  }
  
  .hide {
    top: -80px; /* Adjust according to header height */
  }
  