/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins, roboto';
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
\/* Add to your globals.css or relevant CSS file */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

img {
  display: block;
}
